In [24]:
import pandas as pd

In [25]:
companies= ['Google', 'Facebook', 'Amazon', 'Netflix', 'Samsung', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic']

In [26]:
s= pd.Series([274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191], index=companies, name='Top Technology Company by revenue')

In [27]:
s

Google               274515
Facebook             200734
Amazon               182527
Netflix              181945
Samsung              143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Company by revenue, dtype: int64

In [29]:
s.values

array([274515, 200734, 182527, 181945, 143015, 129184,  92224,  85965,
        84893,  82345,  77867,  73620,  69864,  63191], dtype=int64)

In [30]:
s.index

Index(['Google', 'Facebook', 'Amazon', 'Netflix', 'Samsung', 'Huawei',
       'Dell Technologies', 'Meta', 'Sony', 'Hitachi', 'Intel', 'IBM',
       'Tencent', 'Panasonic'],
      dtype='object')

In [31]:
s.name

'Top Technology Company by revenue'

the type associated with the values

In [32]:
s.dtype

dtype('int64')

In [10]:
s.size

14

In [11]:
len(s)

14

In [15]:
s.mean()

124420.64285714286

In [14]:
s.describe()

count        14.000000
mean     124420.642857
std       63686.481231
min       63191.000000
25%       78986.500000
50%       89094.500000
75%      172212.500000
max      274515.000000
Name: Top Technology Company by revenue, dtype: float64

In [16]:
s.median()

89094.5

In [17]:
s.std()

63686.48123135607

In [18]:
s.min(), s.max()

(63191, 274515)

In [19]:
s.quantile(0.75)

172212.5

In [22]:
s.sort_values()

Panasonic             63191
Tencent               69864
IBM                   73620
Intel                 77867
Hitachi               82345
Sony                  84893
Meta                  85965
Dell Technologies     92224
Huawei               129184
Samsung              143015
Netflix              181945
Amazon               182527
Facebook             200734
Google               274515
Name: Top Technology Company by revenue, dtype: int64

Sorting by index (lexicographically by company's name), notice it's in ascending mode

In [23]:
s.sort_index()

Amazon               182527
Dell Technologies     92224
Facebook             200734
Google               274515
Hitachi               82345
Huawei               129184
IBM                   73620
Intel                 77867
Meta                  85965
Netflix              181945
Panasonic             63191
Samsung              143015
Sony                  84893
Tencent               69864
Name: Top Technology Company by revenue, dtype: int64

In [34]:
international_companies = s[[
    "Sony", "Tencent", "Panasonic",
    "Samsung", "Hitachi", "Huawei"
]]
international_companies

Sony          84893
Tencent       69864
Panasonic     63191
Samsung      143015
Hitachi       82345
Huawei       129184
Name: Top Technology Company by revenue, dtype: int64

In [35]:
international_companies.sort_values(ascending=False, inplace=True)

MODIFYING THE SERIES

In [36]:
s['IBM']  = 0

In [37]:
s.sort_values().head()

IBM              0
Panasonic    63191
Tencent      69864
Intel        77867
Hitachi      82345
Name: Top Technology Company by revenue, dtype: int64

In [38]:
s['Tesla'] = 21450

In [39]:
s.sort_values().head()

IBM              0
Tesla        21450
Panasonic    63191
Tencent      69864
Intel        77867
Name: Top Technology Company by revenue, dtype: int64

In [40]:
del s['Tesla']

**insertion**

In [41]:
s['Amazon']=469822

**Concatenating Series**

In [42]:
another_s = pd.Series([21_450, 4_120], index=['Tesla', 'Snapchat'])

In [43]:
another_s

Tesla       21450
Snapchat     4120
dtype: int64

In [44]:
s_new = pd.concat([s, another_s])

In [46]:
s

Google               274515
Facebook             200734
Amazon               469822
Netflix              181945
Samsung              143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                       0
Tencent               69864
Panasonic             63191
Name: Top Technology Company by revenue, dtype: int64

In [45]:
s_new

Google               274515
Facebook             200734
Amazon               469822
Netflix              181945
Samsung              143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                       0
Tencent               69864
Panasonic             63191
Tesla                 21450
Snapchat               4120
dtype: int64