In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('ipl_playoffs.csv')

In [8]:
df.head()

   year  pos  Team  Played  Won  Lost  Net RR         For     Against  Points
0  2008    1    RR      14   11     3   0.632  2245/261.1  2153/270.2      22
1  2008    2  PBKS      14   10     4   0.509  2352/259.5  2271/265.5      20
2  2008    3   CSK      14    8     6  -0.192  2241/264.2  2195/253.1      16
3  2008    4    DD      14    7     6   0.342  2001/233.2  2031/246.4      15
4  2008    5    MI      14    7     7   0.570  2080/249.1  2096/269.3      14

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   year     146 non-null    int64
 1   pos      146 non-null    int64
 2   Team     146 non-null    object
 3   Played   146 non-null    int64
 4   Won      146 non-null    int64
 5   Lost     146 non-null    int64
 6   Net RR   146 non-null    float64
 7   For      146 non-null    object
 8   Against  146 non-null    object
 9   Points   146 non-null    int64
dtypes: float64(1), int64(6), object(3)
memory usage: 11.5+ KB

In [10]:
# Convert columns in dataframe df into separate Series
team_series = pd.Series(df['Team'])
won_series = pd.Series(df['Won'])
played_series = pd.Series(df['Played'])
nrr_series = pd.Series(df['Net RR'])
points_series = pd.Series(df['Points'])

Determine the total number of matches played by all teams using the played_series variable.

In [11]:
played_series=df['Played'].sum()
played_series

2080

Create a new series containing the first 3 elements of team_series and store it in the first_three_teams variable.

In [12]:
first_three_teams =  df['Team'][0:3]
first_three_teams

0      RR
1    PBKS
2     CSK
Name: Team, dtype: object

Create a new series showing the difference between matches played and matches won, and store it in the win_loss_difference variable.

In [13]:
win_loss_difference = df['Played']-df['Won']
win_loss_difference

0       3
1       4
2       6
3       7
4       7
       ..
141     7
142     7
143     9
144     9
145    10
Length: 146, dtype: int64

Calculate the percentage of matches won out of matches played and store the resulting series in the win_percentage_series variable.

In [14]:
win_percentage_series = (df['Won']/df['Played'])*100
win_percentage_series

0      78.571429
1      71.428571
2      57.142857
3      50.000000
4      50.000000
         ...
141    50.000000
142    50.000000
143    35.714286
144    35.714286
145    28.571429
Length: 146, dtype: float64

Create a series of boolean values indicating whether each entry has a positive Net Run Rate, and store it in the positive_nrr_series variable.

In [16]:
positive_nrr_series = df['Net RR']>0
positive_nrr_series

0       True
1       True
2      False
3       True
4       True
       ...
141    False
142    False
143    False
144    False
145    False
Name: Net RR, Length: 146, dtype: bool

Create a series showing the cumulative sum of points from points_series and store it in the cumulative_points_series variable.

In [ ]:
cumulative_points_series = df['Points'].cumsum()
#we did not use sum() as we wanted the dtype to be bool
#sum() will return series of int64 dtype

Create a function to categorize Net Run Rates (NRR) into High, Medium, or Low. Apply this function to the nrr_series and store the resulting series in the variable nrr_categories_series.

In [18]:
def categorize_nrr(nrr):
    if nrr >= 0.5:
        return "High"
    if nrr > 0 and nrr < 0.5:
        return "Medium"
    if nrr <= 0:
        return "Low"

nrr_categories_series = nrr_series.apply(categorize_nrr)
nrr_categories_series

0        High
1        High
2         Low
3      Medium
4        High
        ...
141       Low
142       Low
143       Low
144       Low
145       Low
Name: Net RR, Length: 146, dtype: object

Which operation would result in a Series with the same index as the original, but all values increased by 10?

In [ ]:
# #opt-1
''' series.apply(lambda x: x + 10) '''

# #opt-2
''' series.add(10)'''

# #opt-3
'''series + 10'''

A FEW QUESTIONS TO TRY ON YOUR OWN

What's the output of value_counts() when applied to the Team column?

Which method would you use to find the highest value in the Series?

What does the idxmax() return for the Points column?

What does rank() do when applied to the Points column?

Determine the total number of matches played by all teams using the played_series variable.