In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame()

In [3]:
data={
    'Revenue':[274515,200734,182527,181945,143015,129184,92224,85965,84893,
                    82345,77867,73620,69864,63191],
    'Employees':[147000,267937,135301,878429,163000,197000,158000,58604,
                      109700,350864,110600,364800,85858,243540],
    'Sector':['Consumer Electronics','Consumer Electronics','Software Services',
                   'Chip Manufacturing','Software Services','Consumer Electronics',
                   'Consumer Electronics','Software Services','Consumer Electronics',
                   'Consumer Electronics','Chip Manufacturing','Software Services',
                   'Software Services','Consumer Electronics'],
    'Founding Date':['01-04-1976','13-01-1969','04-09-1998','20-02-1974',
                         '04-04-1975','15-09-1987','01-02-1984','04-02-2004',
                         '07-04-1946','01-01-1910','18-07-1968','16-06-1911',
                         '11-11-1998','07-03-1918'],
    'Country':['USA','South Korea','USA','Taiwan','USA','China','USA','USA',
                   'Japan','Japan','USA','USA','China','Japan']
}
index = ['Apple','Samsung','Alphabet','Foxconn','Microsoft','Huawei',
         'Dell Technologies','Meta','Sony','Hitachi','Intel','IBM',
         'Tencent','Panasonic']

Create the dataframe

In [5]:
df=pd.DataFrame(data,index=index)
df

,Revenue,Employees,Sector,Founding Date,Country
Apple,274515,147000,Consumer Electronics,01-04-1976,USA
Samsung,200734,267937,Consumer Electronics,13-01-1969,South Korea
Alphabet,182527,135301,Software Services,04-09-1998,USA
Foxconn,181945,878429,Chip Manufacturing,20-02-1974,Taiwan
Microsoft,143015,163000,Software Services,04-04-1975,USA
Huawei,129184,197000,Consumer Electronics,15-09-1987,China
Dell Technologies,92224,158000,Consumer Electronics,01-02-1984,USA
Meta,85965,58604,Software Services,04-02-2004,USA
Sony,84893,109700,Consumer Electronics,07-04-1946,Japan
Hitachi,82345,350864,Consumer Electronics,01-01-1910,Japan
Intel,77867,110600,Chip Manufacturing,18-07-1968,USA
IBM,73620,364800,Software Services,16-06-1911,USA
Tencent,69864,85858,Software Services,11-11-1998,China
Panasonic,63191,243540,Consumer Electronics,07-03-1918,Japan

In [6]:
df.head(7)

,Revenue,Employees,Sector,Founding Date,Country
Apple,274515,147000,Consumer Electronics,01-04-1976,USA
Samsung,200734,267937,Consumer Electronics,13-01-1969,South Korea
Alphabet,182527,135301,Software Services,04-09-1998,USA
Foxconn,181945,878429,Chip Manufacturing,20-02-1974,Taiwan
Microsoft,143015,163000,Software Services,04-04-1975,USA
Huawei,129184,197000,Consumer Electronics,15-09-1987,China
Dell Technologies,92224,158000,Consumer Electronics,01-02-1984,USA

In [11]:
df.tail(11)

,Revenue,Employees,Sector,Founding Date,Country
Foxconn,181945,878429,Chip Manufacturing,20-02-1974,Taiwan
Microsoft,143015,163000,Software Services,04-04-1975,USA
Huawei,129184,197000,Consumer Electronics,15-09-1987,China
Dell Technologies,92224,158000,Consumer Electronics,01-02-1984,USA
Meta,85965,58604,Software Services,04-02-2004,USA
Sony,84893,109700,Consumer Electronics,07-04-1946,Japan
Hitachi,82345,350864,Consumer Electronics,01-01-1910,Japan
Intel,77867,110600,Chip Manufacturing,18-07-1968,USA
IBM,73620,364800,Software Services,16-06-1911,USA
Tencent,69864,85858,Software Services,11-11-1998,China
Panasonic,63191,243540,Consumer Electronics,07-03-1918,Japan

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, Apple to Panasonic
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Revenue        14 non-null     int64
 1   Employees      14 non-null     int64
 2   Sector         14 non-null     object
 3   Founding Date  14 non-null     object
 4   Country        14 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.2+ KB

In [9]:
df.shape

(14, 5)

In [10]:
df.describe()

             Revenue      Employees
count      14.000000      14.000000
mean   124420.642857  233616.642857
std     63686.481231  207583.087389
min     63191.000000   58604.000000
25%     78986.500000  116775.250000
50%     89094.500000  160500.000000
75%    172212.500000  261837.750000
max    274515.000000  878429.000000

In [12]:
df.nunique()

Revenue          14
Employees        14
Sector            3
Founding Date    14
Country           5
dtype: int64

In [13]:
df.isnull()

                   Revenue  Employees  Sector  Founding Date  Country
Apple                False      False   False          False    False
Samsung              False      False   False          False    False
Alphabet             False      False   False          False    False
Foxconn              False      False   False          False    False
Microsoft            False      False   False          False    False
Huawei               False      False   False          False    False
Dell Technologies    False      False   False          False    False
Meta                 False      False   False          False    False
Sony                 False      False   False          False    False
Hitachi              False      False   False          False    False
Intel                False      False   False          False    False
IBM                  False      False   False          False    False
Tencent              False      False   False          False    False
Panasonic            False      False   False          False    False

In [15]:
df.isnull().sum()

Revenue          0
Employees        0
Sector           0
Founding Date    0
Country          0
dtype: int64

In [16]:
df['Revenue']

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Revenue, dtype: int64

In [17]:
df['Revenue'].sum()

1741889

In [ ]:
#ERRORRR!!
df['Revenue', 'Employees','Country']
#Use double brackets to select multiple columns

KeyError: ('Revenue', 'Employees', 'Country')

In [19]:
# We can save this dataframe to another dataframe
df_new = df[['Revenue', 'Employees','Country']]

In [20]:
new_df = df[['Revenue', 'Employees']] # we removed the Country column as it is not a numerical column
new_df.mean()

Revenue      124420.642857
Employees    233616.642857
dtype: float64

In [21]:
employees_s = df['Employees']

In [22]:
employees_median = round(employees_s.median())

LOC- selection by index
loc[row_label, column_label]

In [23]:
df.loc['Samsung','Revenue']

200734

In [24]:
df.loc[:,'Revenue']

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Revenue, dtype: int64

In [25]:
df.loc['Samsung',:]

Revenue                        200734
Employees                      267937
Sector           Consumer Electronics
Founding Date              13-01-1969
Country                   South Korea
Name: Samsung, dtype: object

In [26]:
df.loc[['Apple','Samsung','Sony'], 'Revenue']

Apple      274515
Samsung    200734
Sony        84893
Name: Revenue, dtype: int64

In [27]:
df.loc['Apple', ['Employees','Country']]

Employees    147000
Country         USA
Name: Apple, dtype: object

slicing with:

start:stop:step

In [28]:
df.loc['Apple', 'Employees':'Founding Date']

Employees                      147000
Sector           Consumer Electronics
Founding Date              01-04-1976
Name: Apple, dtype: object

In [29]:
df.loc['Apple':'Sony', 'Employees']

Apple                147000
Samsung              267937
Alphabet             135301
Foxconn              878429
Microsoft            163000
Huawei               197000
Dell Technologies    158000
Meta                  58604
Sony                 109700
Name: Employees, dtype: int64

In [31]:
df.loc['Apple':'Sony':2, :]

,Revenue,Employees,Sector,Founding Date,Country
Apple,274515,147000,Consumer Electronics,01-04-1976,USA
Alphabet,182527,135301,Software Services,04-09-1998,USA
Microsoft,143015,163000,Software Services,04-04-1975,USA
Dell Technologies,92224,158000,Consumer Electronics,01-02-1984,USA
Sony,84893,109700,Consumer Electronics,07-04-1946,Japan

iloc: Selecting by position
`iloc[row_position, column_position]`

In [35]:
df.iloc[4, 2]

'Software Services'

In [36]:
df.iloc[:,0]

Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Revenue, dtype: int64

In [37]:
df.iloc[1,:]

Revenue                        200734
Employees                      267937
Sector           Consumer Electronics
Founding Date              13-01-1969
Country                   South Korea
Name: Samsung, dtype: object

In [38]:
df.iloc[[0,1,8], 0]

Apple      274515
Samsung    200734
Sony        84893
Name: Revenue, dtype: int64

In [39]:
df.iloc[0, [1,4]]

Employees    147000
Country         USA
Name: Apple, dtype: object

In [41]:
position_selection = df.iloc[1:7:2,[0,1,4]]
position_selection

         Revenue  Employees      Country
Samsung   200734     267937  South Korea
Foxconn   181945     878429       Taiwan
Huawei    129184     197000        China